<main id="home" class="home">
  <div class="home__content">
    <div class="home__text">
      <span class="home__greeting">Hello, I'm</span>
      <h1 class="home__name">Shawal Mbalire</h1>
      <h2 class="home__education">Electrical and Software Engineering Student</h2>
      <p class="home__tagline">Today is a nice day for engineering</p>
      
      <div class="home__buttons">
        <a download="" href="/documents/MbalireShawalCV.pdf" class="button">
          Download CV
        </a>
        <a href="#about" class="button">
          About me
        </a>
      </div>
    </div>
  </div>
</main>
