#contact{
    display: flex;
    flex-direction: column;
}

.contact__container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contact__content{
    display: flex;
    flex-direction: column;
}
.contact__info{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact__card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    background-color: rgba(102, 238, 213, 0.2);
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin: 1rem ;
}

.contact__form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}
input, textarea{
    height: 100%;
    width: 100%;
    color: black;
    border: none;
    border: 2px solid black;
    background-color: rgba(102, 238, 213, 0);
    z-index: 1;
    border-radius: 1rem;
}
input::placeholder, textarea::placeholder{
    color: black;
    padding-top: 0.5rem;
    padding-left: 1rem;
}
input{
    height: 2rem;
}
textarea{
    height: 6rem;
}
.contact__form-tag{
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    padding: .25rem;
    z-index: 2;
    background-color: rgb(97, 113, 127);
}
.submitbutton{
    width: max-content;
    background-color: rgba(102, 238, 213, 0.2);
    margin-top: 4rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
    cursor: pointer;
    color: #000;
    backdrop-filter: blur(1rem);
}