*{
    text-decoration: none;
    text-emphasis: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    color: var(--fontColor);
}
body{
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: var(--fontColor);
}

main{
    width: 100%;
    display: flex;
    color: var(--fontColor);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    width: 80%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 5rem;
}
footer{
    padding-bottom: 7rem;
}
.button{
    display: inline;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .4s;
}
.button:hover{
    background-color: var(--first-color);
    color: var(--body-color);

}
.button--ghost{
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}
/*========================================== Scroll bar ====================================================*/
::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--second-hue), 8%, 38%);
}
::-webkit-scrollbar-thumb{
    background-color: hsl(var(--second-hue), 8%, 26%);
    border-radius: .5rem;
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--second-hue), 8%, 20%);
}

.nav__logo_image{
    width: 4rem;
}
.scroll-header{
    box-shadow: 0 4px 4px □hsla(0, 0%, 4%, .3);
}
