/*=======================================css variables=============================*/
:root {
    --backgroundColor : black;
    --fontColor       : white;
    --glassColor      : white;
    --iconColor       : white;

    --primaryColor    : #1b2420;
    --secondaryColor  : green;
    --tertiaryColor   : blue;
}
