<main id="contact">
  <div>

    <span>Get in touch</span>
    <h2>Contact Me</h2>

    <div>

        <div class="contact__card">
          <h3>Gmail</h3>
          <span>mbalireshawal&#64;gmail.com</span>
          <a href="mailto:mbalireshawal@gmail.com" target="_blank" class="button">
            Email me
          </a>
        </div>


        <!--<div>-->
        <!--  <h3>Whatsapp</h3>-->
        <!--  <span>+256760044705</span>-->
        <!--  <a href="https://api.whatsapp.com/send?phone=256760044705&text=Hello, more information"-->
        <!--    target="_blank">-->
        <!--    Inbox me-->
        <!--  </a>-->
        <!--</div>-->
        <!---->
        <!--<div>-->
        <!--  <h3>Cellular</h3>-->
        <!--  <span>+256757933006</span>-->
        <!--  <a href="" target="_blank" class="contact__button">-->
        <!--    Call me-->
        <!--  </a>-->
        <!--</div>-->
      </div>
    </div>
  <!--      <div class="contact__form-div">-->
  <!--        <label for="" class="contact__form-tag">Name</label>-->
  <!--        <input type="text" placeholder="Insert your name." class="contact__form-input">-->
  <!--      </div>-->
  <!---->
  <!--      <div class="contact__form-div">-->
  <!--        <label for="" class="contact__form-tag">Mail</label>-->
  <!--        <input type="text" placeholder="Insert your email" class="contact__form-input">-->
  <!--      </div>-->
  <!---->
  <!--      <div class="contact__form-div contact__form-area">-->
  <!--        <label for="" class="contact__form-tag ">Project</label>-->
  <!--        <textarea name="" id="" cols="30" rows="10" placeholder="Write to me"-->
  <!--          class="contact__form-input"></textarea>-->
  <!--      </div>-->
  <!--      <div class="submitbutton" type="submit">Send Message</div>-->
  <!--    </form>-->
  <!--  </div>-->
  <!---->
  <!--</div>-->
</main>
