<div id="logo">
	<img src="https://raw.githubusercontent.com/shawal-mbalire/shawalmbalire.com/refs/heads/new_feature/black.svg" draggable="false" />
	<img src="https://raw.githubusercontent.com/shawal-mbalire/shawalmbalire.com/refs/heads/new_feature/darkblue.svg" draggable="false" />
	<img src="https://raw.githubusercontent.com/shawal-mbalire/shawalmbalire.com/refs/heads/new_feature/aliceblue.svg" draggable="false" />
	<img src="https://raw.githubusercontent.com/shawal-mbalire/shawalmbalire.com/refs/heads/new_feature/dimgray.svg" draggable="false" />
	<img src="https://raw.githubusercontent.com/shawal-mbalire/shawalmbalire.com/refs/heads/new_feature/myrtlegreen.svg" draggable="false" />
	<img src="https://raw.githubusercontent.com/shawal-mbalire/shawalmbalire.com/refs/heads/new_feature/white.svg" draggable="false" />
</div>