<main>
  <!-- Header -->
  <div class="card-header">
    <div class="card-title">{{ data.title }}</div>
    <div class="card-subtitle">{{ data.company }}</div>
  </div>
  <div class="card-content">

    <!-- Metadata -->
    <div class="metadata" style="display: grid; grid-template-columns: 1fr 2fr;">
      <div>Type:</div><div>{{ data.type }}</div>
      <div>Location:</div><div>{{ data.location }}</div>
      <div>Duration:</div><div>{{ data.duration }}</div>
      <div>Start Date:</div><div>{{ data.startDate }}</div>
      <div>End Date:</div><div>{{ data.endDate }}</div>
      <div>Work Mode:</div><div>{{ data.workMode }}</div>
      <div>Description:</div><div>{{ data.description }}</div>
    </div>

    <!-- Responsibilities -->
    @if (data.responsibilities?.length) {
      <div>
        <p><strong>Responsibilities:</strong></p>
        <ol>
          @for (responsibility of data.responsibilities; track responsibility) {
            <li>
              {{ responsibility }}
            </li>
          }
        </ol>
      </div>
    }

    <!-- Skills  -->
    @if (data.skills?.length) {
      <div>
        <div>Skills:</div><br />
        <ol>
          @for (skill of data.skills; track skill) {
            <li>{{ skill }}</li>
          }
        </ol>
      </div>
    }
  </div>
  <button class="button" (click)="closeDialog()">Close</button>
</main>
