footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(102, 238, 213, 0.14);


.footer__list, .footer__social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer__list{
    width: 20%;
}
.footer__social{
    width: 50%;
}
.footer__copy{
    margin-top: 2rem;
}
#footer_logo_div{
    padding-top: 1rem;
}