/*========================================== skills ==================================================*/
.skills__container{
    row-gap: 2rem;
    padding: 1rem;
}
.skills__content{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
}
.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem;
}
.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.skills__group{
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}
.skills__data{
    display: flex;
    column-gap: .5rem;
}
.skills .bxs-badge-check {
    font-size: 1rem;
    color: var(--first-color);
}
.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}
.skills__level{
    font-size: var(--tiny-font-size);
}