/*=================================Google Fonts================================*/
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;500;600&display=swap');

/*=======================================css variables=============================*/
:root {
    --header-height: 3.5rem;
    /*=============Colours==============*/
    /*Color mode HSL*/
    /*
        Purple: hsl(250,66%,75%)
        Blue: hsl(207,90%,72%)
        Pink: hsl(356,66%,75%)
        Teal: hsl(174,63%,62%)
    */
    --first-hue: 250;
    --sat: 66% ;
    --lig: 75% ;
    --second-hue:219;
    --first-color: hsl(var(--first-hue),var(--sat),var(--lig));
    --first-color-alt: hsl(var(--first-hue),var(--sat),71%) ;/*  -4%  */
    --title-color: hsl(var(--second-hue),15%,95%);
    --text-color: hsl(var(--second-hue),8%,75%);
    --text-color-light: hsl(var(--second-hue),4%,55%);
    --body-color: hsl(var(--second-hue),48%,8%);
    --container-color: hsl(var(--second-hue),32%,12%);
    /*============================= font and typography=============================*/
    --font-family: 'Chivo Mono', monospace;
    --body-font:  'Chivo Mono', monospace;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.625rem;
    /*============================= Font weight=============================*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*============================= z-index=============================*/
    --z-fixed: 100;
    --z-tooltip: 10;
    --z-modal: 1000;
    /*============================= border radius=============================*/
    --border-radius: 0.25rem;

}

/*====================================== Responsive typograhy ==================================*/
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
        --tiny-font-size: 0.675rem;
    }
}

/*====================================== Base ==================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;/*smooth scroll not supported ios 15.4 or higher*/
}
body,input,button,textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s;/* for light mode animation*/
    align-items: center;
}
h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    border: none;
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
}
/*====================================== Theme ==================================*/
.change-theme{
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
}
.change-theme:hover{
    color: var(--first-color);
}
/*====================================== Variables Light theme ==================================*/
body.light-theme{
    --title-color: hsl(var(--second-hue),15%,5%);
    --text-color: hsl(var(--second-hue),8%,35%);
    --body-color: hsl(var(--second-hue),100%,99%);
    --container-color: #fff;
}

.light-theme .scroll-header{
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, .1);
}
.light-theme .nav__menu{
    background-color: hsla(var(--second-hue), 32%, 90%, 8);
}
.light-theme .section__subtitle{
    color: var(--text-color);
}
.light-theme .home__social-link{
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme .home__social::after,
.light-theme .footer__social-link{
    background-color: var(--title-color);
}
.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy{
    color: var(--title-color);
}
.light-theme .about__box{
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme .skills__content
.light-theme .services__card,
.light-theme .work__card{
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme::-webkit-scrollbar{
    background-color: hsl(var(--second-hue),8%,66%);
}
.light-theme::-webkit-scrollbar-thumb{
    background-color: hsl(var(--second-hue),8%,54%);
}
.light-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--second-hue),8%,44%);
}



/*====================================== Active link ==================================*/
.active-link{
    background: linear-gradient(  180deg,  hsla(var(--first-hue),var(--sat),var(--lig),1),  hsla(var(--first-hue),var(--sat),var(--lig),.2)  );
    box-shadow: 0 0 16px hsla(var(--first-hue),var(--sat),var(--lig),.4);
    color: var(--title-color);
}



/*========================================== Testimonial ====================================================*/
.testimonial__card{
    background-color: var(--container-color);
    padding: 1.25rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
}
.testimonial__img{
    width: 60px;
    border-radius: 3rem;
    margin-bottom: 1rem;
}
.testimonial__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}
.testimonial__description{
    font-size: var(--small-font-size);
}
/* Swiper class */
.swiper-pagination-bullet{
    background-color: var(--text-color-light);
}
.swiper-pagination-bullet-active{
    background-color: var(--first-color);
}
