#work{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.work__filters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.work__img{
    width: 10rem;
}
.work__item{

    width: 5rem;
    /* height: 1rem; */
    background-color: rgba(102, 238, 213, 0.2);
    border-radius: 0.4rem;
    padding: 0.5rem;
    cursor: pointer;
    color: #000;
}
.work__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.work__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    background-color: rgba(102, 238, 213, 0.2);
    border-radius: 0.6rem;
    padding: 0.5rem;
    margin: 1rem ;
}