header {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  height: 4.2rem;
  align-items: center;
  filter: drop-shadow(0 0 0.75rem var(--glowColor));
  z-index: 10;
  background-color: var(--backgroundColor);
}

div img {
  height: 4rem;
}

nav {
  width: 60%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

nav svg,
button svg{
  height: 2rem;
}
svg,
svg path,
svg g path{
  fill:var(--iconColor);
}

button {
  height: 70%;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button img {
  height: 2rem;
}
svg{
  transition: color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
svg:hover{
  transform: scale(1.2);
  background-color: var(--primaryColor);
  
}