main{
  display: flex;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
}

main div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
main div div,ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
main div a{
  height: 4rem;
}
img,svg{
  fill: var(--iconColor);
  height: 4rem;
}
ul{
 list-style: none;
}
