<footer class="footer">
    <div id="footer_logo_div">
        <a href="#" class="logo"><img id="logo" src="static/images/logo.svg" alt=""></a>
        <a href="#" id="logo__text">Shawal</a>
    </div>

    <ul class="footer__list">
        <li>
            <a href="#about" class="footer__link">About</a>
        </li>
        <li>
            <a href="#work" class="footer__link">Work</a>
        </li>
        <li>
            <a href="#testimonials" class="footer__link">Testimonials</a>
        </li>
    </ul>

    <div class="footer__social">
       <!-----------------------------------------------------------------------Linkedin-------------------------------------------->
       <a target="_blank" href="https://ug.linkedin.com/in/mbalireshawal"><img src="static/icons/linkedin.svg" alt="" class="home__icon"></a>

       <!-----------------------------------------------------------------------Github-------------------------------------------->
       <a target="_blank" href="https://github.com/shawal-mbalire" ><img src="static/icons/github.svg" alt="" class="home__icon"></a>

       <!-----------------------------------------------------------------------Twitter-------------------------------------------->
       <a target="_blank" href="https://twitter.com/shawalmbalire" ><img src="static/icons/twitterx.svg" alt="" class="home__icon"></a>

       <!-----------------------------------------------------------------------Instagram-------------------------------------------->
       <a target="_blank" href="https://www.instagram.com/shawal_mbalire_/" ><img src="static/icons/instagram.svg" alt="" class="home__icon"></a>

       <!-----------------------------------------------------------------------Researchgate-------------------------------------------->
       <a target="_blank" href="https://www.researchgate.net/profile/Shawal-Mbalire" ><img src="static/icons/research.svg" alt="" class="home__icon"></a>

    </div>

    <span class="footer__copy">
        &#169; Shawal. All rights reserved
    </span>
</footer>