main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    div{
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;

      .contact__card {
        border: 2px solid;
        padding: 1rem;
        min-width: 20rem;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
      }
      .contact__card:hover{
        transform: translate(scale(1.1));
      }
    }
  }
}
