<main>
    <span class="section__subtitle">Get in touch</span>
    <h2 class="section__title">Contact Me</h2>
    <div>
        <div class="contact__container">
            <h3 class="contact__title">Talk to me</h3>

            <div class="contact__info">

                <div class="contact__card">
                    <i class="bx bx-mail-send contact__card-icon"></i>
                    <h3 class="contact__card-title">Gmail</h3>
                    <span class="contact__card-data">mbalireshawal&#64;gmail.com</span>
                    <a href="mailto:mbalireshawal@gmail.com" target="_blank" class="contact__button">
                        Write me <i class="bx bx-right-arrow-alt contact__button-icon"></i>
                    </a>
                </div>


                <div class="contact__card">
                    <i class="bx bxl-whatsapp contact__card-icon"></i>
                    <h3 class="contact__card-title">Whatsapp</h3>
                    <span class="contact__card-data">+256760044705</span>
                    <a href="https://api.whatsapp.com/send?phone=256760044705&text=Hello, more information"
                        target="_blank" class="contact__button">
                        Inbox me <i class="bx bx-right-arrow-alt contact__button-icon"></i>
                    </a>
                </div>

                <div class="contact__card">
                    <i class="bx bx-phone-call contact__card-icon"></i>
                    <h3 class="contact__card-title">Cellular</h3>
                    <span class="contact__card-data">+256757933006</span>
                    <a href="" target="_blank" class="contact__button">
                        Call me <i class="bx bx-right-arrow-alt contact__button-icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="contact__content">
            <h3 class="contact__title">Write to me </h3>
            <form action="mailto:shawal@shawalmbalire.com" class="contact__form" method="post">

                <div class="contact__form-div">
                    <label for="" class="contact__form-tag">Name</label>
                    <input type="text" placeholder="Insert your name." class="contact__form-input">
                </div>

                <div class="contact__form-div">
                    <label for="" class="contact__form-tag">Mail</label>
                    <input type="text" placeholder="Insert your email" class="contact__form-input">
                </div>

                <div class="contact__form-div contact__form-area">
                    <label for="" class="contact__form-tag ">Project</label>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Write to me"
                        class="contact__form-input"></textarea>
                </div>
                <div class="submitbutton" type="submit">Send Message</div>
            </form>
        </div>

    </div>
</main>