<main>
    <div>
        <span class="section__subtitle">Who I am.</span>
        <h2 class="section__title">About Me</h2>
        <p class="about__description">
            Electrical Engineering Junior at Makerere University, I am passionate about aoutomation of daily processes
            using
            embedded computers. I am a researcher with strong iterest in emerging technologies. I am a software
            developer
            with a love for programming.
        </p>
    </div>
</main>