<section id="about">
    <div class="about__container">

        <span class="section__subtitle">Who I am.</span>
        <h2 class="section__title">About Me</h2>
        <div class="about__data">
            <div class="about__info">

                <div class="about__box">
                    <i class="bx bx-award about__icon"></i>
                    <h3 class="about__title">Experience 1+ Years</h3>
                    <span class="about__subtitle">Electrical Engineering Roles</span>
                </div>

                <div class="about__box">
                    <i class="bx bx-award about__icon"></i>
                    <h3 class="about__title">Experience 2+ Years</h3>
                    <span class="about__subtitle">Software Development Roles</span>
                </div>

                <div class="about__box">
                    <i class="bx bx-briefcase-alt about__icon"></i>
                    <h3 class="about__title">Research</h3>
                    <span class="about__subtitle">Co - Published 1 paper</span>
                </div>

                <!-- ---------------------------------------
                <div class="about__box">

                    <h3 class="about__title"></h3>
                    <span class="about__subtitle"></span>
                </div>
                ----------------------------------------- -->
            </div>

            <p class="about__description">
                Electrical Engineering Junior at Makerere University, I am passionate about aoutomation of daily processes using embedded computers. I am a researcher with strong iterest in emerging technologies. I am a software developer with a love for programming.
            </p>

            <a href="#contact" id="contactme" >Contact me</a>
        </div>
    </div>

    <div id="about_skills">
        <!----------------------------------- Front end skills-------------------------------->
        <div class="skills_card">
            <h3 class="skills__title">Front end developer</h3>

            <div class="skills__box">
                <div class="skills__group">

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">HTML</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">CSS</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>


                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">Javascript</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                </div>

                <div class="skills__group">
                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">Bootstrap</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">React</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">Git</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-----------------------------------Backend Skills-------------------------------->
        <div class="skills_card">
            <h3 class="skills__title">Back end developer</h3>

            <div class="skills__box">
                <div class="skills__group">

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">PHP</h3>
                            <span class="skills__level">Basic</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">Python</h3>
                            <span class="skills__level">Advanced</span>
                        </div>
                    </div>


                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">MySQL NoSQL</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                </div>

                <div class="skills__group">
                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">Firebase</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">Nodejs</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">C C++ C#</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-----------------------------------Hardware Skills-------------------------------->
        <div class="skills_card">
            <h3 class="skills__title">Hardware developer</h3>

            <div class="skills__box">
                <div class="skills__group">

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">C/C++</h3>
                            <span class="skills__level">Advanced</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">microPython</h3>
                            <span class="skills__level">Basic</span>
                        </div>
                    </div>

                    <div class="skills__data">
                        <i class='bx bxs-badge-check'></i>
                        <div>
                            <h3 class="skills__name">PCB Design</h3>
                            <span class="skills__level">Intermediate</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>