/*=================================== about ==============================================*/
#about{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about__container {
    display: flex;
    flex-direction: column;
}
#specs {
    background-color: var(--container-color);
    border-radius: 10px;
    height: 100%;
}
.about__data{
    text-align: center;
}
.about__info{
    display: flex;
    justify-content: space-between;
    /*grid-template-columns: repeat(3, 1fr);*/
    margin-bottom: 1rem;
}
.about__box{
    background-color: var(--primaryColor);
    border-radius: 0.6rem;
    padding: 0.5rem;
    /* backdrop-filter: blur(1rem); */
    width: 16rem;
}
.about__icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: .5rem;
}
.about__title{
    font-size: var(--small-font-size);
}
.about__subtitle{
    font-size: var(--tiny-font-size);
}
.about__description{
    margin-bottom: 2rem;
}
#contactme{
    width: 1.5rem;
    /* height: 1rem; */
    background-color: rgba(102, 238, 213, 0.2);
    border-radius: 0.4rem;
    padding: 0.5rem;
    cursor: pointer;
    color: #000;
    backdrop-filter: blur(1rem);
}
#about__container{
    display: flex;
}
#about_skills{
    display: flex;
    justify-content: center;
}
.skills_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    background-color: rgba(102, 238, 213, 0.2);
    border-radius: 0.6rem;
    padding: 0.5rem;
    backdrop-filter: blur(1rem);
    /* margin: 2rem; */
    margin-left: 2rem ;
}
.skills__group{
    display: grid;
}
