/* You can add global styles to this file, and also import other style files */
*{
    --backgroundColor : black;
    --fontColor       : white;
    --glassColor      : white;
    --iconColor       : white;

    --primaryColor    : #1b2420;
    --secondaryColor  : rgb(4, 39, 4);
    --tertiaryColor   : blue;


    background-color: var(--backgroundColor);
    color: white;
    text-decoration: none;
    text-emphasis: none;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}