<section id="work">
    <span class="section__subtitle">My Portfolio</span>
    <h2 class="section__title">Recent Works</h2>
    <div class="work__filters">
        <span class="work__item active-work" data-filter="all">All</span>
        <span class="work__item" data-filter=".python">Python</span>
        <span class="work__item" data-filter=".embedded .">Electronics</span>
        <span class="work__item" data-filter=".blockchain">Blockchain</span>
        <span class="work__item" data-filter=".web">Web 2.0</span>
    </div>

    <div class="work__container">

        <div class="work__card mix web">
            <img src="static/images/favIcon.png" alt="" class="work__img">
            <h3 class="work__title">Web 2.0 development </h3>
                <a href="#" class="work__button">Demo
                    <i class="bx bx-right-arrow-alt work__icon"></i>
                </a>
        </div>

        <div class="work__card">
            <img src="static/images/favIcon.png" alt="" class="work__img">
            <h3 class="work__title">Web 3.0 development</h3>
            <a href="#" class="work__button">Demo
                <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>
        </div>

        <div class="work__card mix embedded">
            <img src="static/images/favIcon.png" alt="" class="work__img">
            <h3 class="work__title">PCB Design Embedded Systems</h3>
            <a href="#" class="work__button">Demo
                <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>
        </div>

        <div class="work__card mix python">
            <img src="static/images/favIcon.png" alt="" class="work__img">
            <h3 class="work__title">Data Science</h3>
            <a href="#" class="work__button">Demo
                <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>
        </div>

        <div class="work__card mix">
            <img src="static/images/favIcon.png" alt="" class="work__img">
            <h3 class="work__title">Leadership</h3>
            <a href="#" class="work__button">Demo
                <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>
        </div>

        <div class="work__card mix">
            <img src="static/images/favIcon.png" alt="" class="work__img">
            <h3 class="work__title">Hackathons</h3>
            <a href="#" class="work__button">Demo
                <i class="bx bx-right-arrow-alt work__icon"></i>
            </a>
        </div>

    </div>

</section>