<header>
    <div id="logo">
        <a href="#" class="logo"><img id="logo" src="/assets/logo.svg" alt="Logo" color="green"></a>
        <!-- <a href="#" id="logo__text">Shawal</a> -->
    </div>

    <nav>
        <a href="#home" class="nav__link active-link">
            <img src="/assets/home.svg" alt="Home" class="nav__icon">
        </a>
        <a href="#about" class="nav__link">
            <img src="/assets/about.svg" alt="About" class="nav__icon">
        </a>

        <a href="#work" class="nav__link" class="nav__icon">
            <img src="/assets/work.svg" alt="Work" class="nav__icon">
        </a>
        <a href="#contact" class="nav__link" class="nav__icon">
            <img src="/assets/contact.svg" alt="Contact" class="nav__icon">
        </a>
    </nav>

    <button>
        <img src="/assets/sun.svg" alt="Light Mode">
    </button>
</header>