
<div class="theme-switcher">
  <button class="button icon" (click)="toggleTheme()" aria-label="Toggle Theme">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22ZM12 20.5V3.5C16.6944 3.5 20.5 7.30558 20.5 12C20.5 16.6944 16.6944 20.5 12 20.5Z"/>
    </svg>
  </button>
  <button class="button caret" ngMenuTrigger [menu]="menuRef" aria-label="Open Theme Menu">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M7 10l5 5 5-5z"/>
    </svg>
  </button>
</div>

<div #menuRef="ngMenu" ngMenu class="theme-menu" (onSelect)="setTheme($event)">
  @for (t of themeService.availableThemes; track t.value) {
    <div ngMenuItem [value]="t.value" class="menu-item">
      <span>{{ t.label }}</span>
      @if (themeService.activeTheme() === t.value) { ✓ }
    </div>
  }
</div>