.work-entry {

    
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
        gap: 0.6rem;
        overflow-y: scroll;
        /* scrool options */
        scrollbar-width: none;
        scroll-behavior: smooth;
        scrollbar-color: var(--dim-gray) var(--dim-gray);
        /* width */

        h2 {
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--font-color);
        }

        h3 {
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--font-color);
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            color: var(--dim-gray);
        }
    }
}
/* * {
    margin: 0;
    padding: 0;
    background-color: var(--dim-gray);
} */