<main id="about">
  <div class="about__content">
    <span class="about__label">Who I am.</span>
    <h2 class="about__title">About Me</h2>
    
    <div class="about__card">
      <p class="about__description">
        I am an Electrical Engineering student at Makerere University. I am passionate about research and
        automation. This shapes my interests such as electronics and technology. Below are some of my achievements.
        Hopefully they are good enough.
      </p>
      
      <div class="about__highlights">
        <div class="highlight">
          <svg class="highlight__icon" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
          </svg>
          <span>IEEE AFRICON 2023 Published Author</span>
        </div>
        <div class="highlight">
          <svg class="highlight__icon" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
          </svg>
          <span>Electrical & Software Engineering</span>
        </div>
        <div class="highlight">
          <svg class="highlight__icon" viewBox="0 0 24 24" fill="currentColor">
            <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/>
          </svg>
          <span>IoT & Automation Enthusiast</span>
        </div>
      </div>
    </div>
  </div>
</main>
